body {
  padding: 0;
  margin: 0;
}
$time: 0.2;

.trunk {
  path,
  polygon {
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s;
  }
}
.coma {
  path,
  polygon {
    opacity: 0;
    transition: opacity 0.5s ease-in 20s;
  }
}

.load {
  .trunk {
    path,
    polygon {
      opacity: 1;
    }
  }
  .coma {
    path,
    polygon {
      opacity: 1;
    }
  }
}
